body {
    padding-top: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    font-family: Verdana, sans-serif;
}

h1 {
    margin-bottom: 5px;
    font-size: 50px;
    font-family: Verdana, sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 5px;
    justify-content: center; 
    background-color: black;
    margin:15px;
}

#status {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#score-container {
    display: flex;
    gap: 18rem;
    font-size: 20px;
}

.square {
    height: 150px;
    border: none;
    font-size: 100px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: white;

}

.square:hover {
    background-color: lightgrey;
}

.reset-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

@keyframes winningAnimation {
    0% {background-color: green;}
    50% {background-color: lightgreen;}
    100% {background-color: green;}
}

.winning-square {
    animation: winningAnimation 0.5s infinite alternate;
}