body {
    padding-top: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    font-family: Verdana, sans-serif;
}

h1 {
    margin-bottom: 5px;
    font-size: 50px;
    font-family: Verdana, sans-serif;
    z-index: 1;

}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 5px;
    justify-content: center; 
    background-color: black;
    margin:15px;
    position: relative; /* Ensures the board remains in document flow and can be layered above animation */
    z-index: 1;
}

#riveCanvas {
    display: block;
  /*  position: absolute;*/
    position: absolute;
    z-index: 0;
}

#status {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 1;
}

#score-container {
    display: flex;
    justify-content: space-between;
    gap: 18rem;
    font-size: 20px;
    z-index: 1;
  /*  position: relative;*/
}

.square {
    height: 150px;
    border: none;
    font-size: 100px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: white;

}

.square:hover {
    background-color: lightgrey;
}

.reset-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
    z-index: 1;
}

@keyframes winningAnimation {
    0% {background-color: green;}
    50% {background-color: lightgreen;}
    100% {background-color: green;}
}

.winning-square {
    animation: winningAnimation 0.5s infinite alternate;
}

@keyframes drawAnimation {
    0% {background-color: #FF7F7F;}
    50% {background-color: white;}
    100% {background-color: #7EC8FF;}
}

.drawing-square {
    animation: drawAnimation 1s infinite alternate;
}

.X {
    color: blue;
}

.O {
    color: red;
}