body {
    padding-top: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 5px;
    justify-content: center; 
}

#status {
    font-size: 30px;
}

.square {
    height: 150px;
    border-radius: 10px;
    font-size: 100px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

.square:hover {
    background-color: darkgrey;
}

.reset-btn {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
}